@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>ClientRestaurants</h2>

<table class="table" id="restaurants">
</table>


@section Scripts {


    <environment include="Development">
        <script src="~/DataTables/datatables.js"></script>
        <link href="~/DataTables/datatables.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" src="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
        <link type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" />
    </environment>

    <script>

        $(function () {

            cuisines = ["Unknown","Mexican","Italian","Indian"];

            $.ajax(
                "/api/restaurants/",
                { method: "get" }
            )
                .then(function (response) {
                    console.log(response);
                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            {
                                "data": "cuisine",
                                "render": function (data) {
                                    return cuisines[data]
                                }
                            }]
                    });

                })
        });

    </script>

}
