@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h3>Editing @Model.Restaurant.Name</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cuisine"></label>
        <select asp-for="Restaurant.Cuisine"
                asp-items="Model.Cuisines"
                class="form-control">
        </select>
        <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
    </div>
    <input type="hidden" asp-for="Restaurant.Id" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Detail" asp-route-restaurantId="@Model.Restaurant.Id" class="btn btn-secondary">Cancel</a>
</form>



